@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #D4A494,#D89BDE);

}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #886a5fa9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #88C2B2;
    text-align: center;
    text-shadow: 1px 1px 0px #48685faf;
}

h2 {
    color: #A4C280;
    text-align: center;
}

p {
    text-align: justify;
}